<br>
<h1>Lista Direktorata :</h1>
<mat-card *ngFor="let d of direktorat" class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{d.naziv_direktorata}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="http://localhost:7000/{{d.slika_direktorata}}" alt="Slika Direktorata">
  <mat-card-content>
    <p>
        {{d.opis_direktorata}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/uredidirektorat/{{d.direktoratid}}">EDIT</button>
    <button mat-button (click)="deleteDiraktorat(d.direktoratid)">DELETE</button>
  </mat-card-actions>
</mat-card>