    <table mat-table [dataSource]="artikal" class="mat-elevation-z8">

          <ng-container matColumnDef="tip">
            <th mat-header-cell *matHeaderCellDef> Tip </th>
            <td mat-cell *matCellDef="let element"> {{element.tip}} </td>
          </ng-container>

          <ng-container matColumnDef="Model">
            <th mat-header-cell *matHeaderCellDef> Model </th>
            <td mat-cell *matCellDef="let element"> {{element.model}} </td>
          </ng-container>

          <ng-container matColumnDef="Inventarski_broj_novi">
            <th mat-header-cell *matHeaderCellDef> Inventarski broj</th>
            <td mat-cell *matCellDef="let element"> {{element.inventarski_broj_novi}} </td>
          </ng-container>

          <ng-container matColumnDef="sprat">
            <th mat-header-cell *matHeaderCellDef> Sprat </th>
            <td mat-cell *matCellDef="let element"> {{element.sprat}} </td>
          </ng-container>

          <ng-container matColumnDef="broj_kancelarije">
            <th mat-header-cell *matHeaderCellDef> Broj kancelarije </th>
            <td mat-cell *matCellDef="let element"> {{element.broj_kancelarije}} </td>
          </ng-container>

          <ng-container matColumnDef="konto">
            <th mat-header-cell *matHeaderCellDef> Konto </th>
            <td mat-cell *matCellDef="let element"> {{element.konto}} </td>
          </ng-container>

          <ng-container matColumnDef="nabavna_cijena">
            <th mat-header-cell *matHeaderCellDef> Nabavna cijena </th>
            <td mat-cell *matCellDef="let element"> {{element.nabavna_cijena}} </td>
          </ng-container>

          <ng-container matColumnDef="sadasnja_vrijednost">
            <th mat-header-cell *matHeaderCellDef> Sadasnja vrijednost </th>
            <td mat-cell *matCellDef="let element"> {{element.sadasnja_vrijednost}} </td>
          </ng-container>

          <ng-container matColumnDef="godina_nabavke">
            <th mat-header-cell *matHeaderCellDef> Godina nabavke</th>
            <td mat-cell *matCellDef="let element"> {{element.godina_nabavke}} </td>
          </ng-container>

          <ng-container matColumnDef="otpisano">
            <th mat-header-cell *matHeaderCellDef> otpisano</th>
            <td mat-cell *matCellDef="let element"> {{element.otpisano}} </td>
          </ng-container>

          <ng-container matColumnDef="nepopisano">
            <th mat-header-cell *matHeaderCellDef> nepopisano</th>
            <td mat-cell *matCellDef="let element"> {{element.nepopisano}} </td>
          </ng-container>

          <ng-container matColumnDef="popisano">
            <th mat-header-cell *matHeaderCellDef> popisano</th>
            <td mat-cell *matCellDef="let element"> {{element.popisano}} </td>
          </ng-container>

          <ng-container matColumnDef="napomena">
            <th mat-header-cell *matHeaderCellDef> napomena</th>
            <td mat-cell *matCellDef="let element"> {{element.napomena}} </td>
          </ng-container>

          <ng-container matColumnDef="Zaduzenje">
            <th mat-header-cell *matHeaderCellDef> Zadužen/a </th>
            <td mat-cell *matCellDef="let element"> {{element.zaduzenje}} </td>
          </ng-container>

          <!-- TASTERI KOMANDE -->

          <ng-container matColumnDef="Uredi"> 
            <th mat-header-cell *matHeaderCellDef> Uredi </th> 
            <td mat-cell *matCellDef="let element"> 
              <button mat-icon-button color="black" aria-label="Uredi" routerLink="/urediartikal/{{element.aid}}">
                <mat-icon>edit</mat-icon>
              </button>
               </td> 
          </ng-container>
    
          <ng-container matColumnDef="Izbrisi"> 
            <th mat-header-cell *matHeaderCellDef> Izbrisi </th> 
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="black" aria-label="Izbrisi" (click)="deleteArtikal(element.aid)">
                <mat-icon>delete</mat-icon>
              </button>
            </td> 
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
