<h1 *ngIf="!edit">Unesi novi Artikal</h1>
<h1 *ngIf="edit">Uredi Artikal</h1>

<div>
    <mat-form-field appearance='fill'>
        <mat-label>Tip</mat-label>
        <input #tip matInput type="text" [(ngModel)] = "artikalpostput.tip"/>
    </mat-form-field>
</div>

<div>
    <mat-form-field appearance='fill'>
        <mat-label>Model</mat-label>
        <input #model matInput type="text" [(ngModel)] = "artikalpostput.model"/>
    </mat-form-field>
</div>

<div>
    <mat-form-field appearance='fill'>
        <mat-label>Konto</mat-label>
        <input #konto matInput type="text" [(ngModel)] = "artikalpostput.konto"/>
    </mat-form-field>
</div>

<div>
    <mat-form-field appearance='fill'>
        <mat-label>Inventarski Broj</mat-label>
        <input #inventarski_broj_novi matInput type="number" [(ngModel)] = "artikalpostput.inventarski_broj_novi"/>
    </mat-form-field>
</div>

<div>
    <mat-form-field appearance='fill'>
        <mat-label>Nabavna cijena</mat-label>
        <input #nabavna_cijena matInput type="number" [(ngModel)] = "artikalpostput.nabavna_cijena"/>
    </mat-form-field>
</div>

<div>
    <mat-form-field appearance='fill'>
        <mat-label>Godina nabavke</mat-label>
        <input #godina_nabavke matInput type="number" [(ngModel)] = "artikalpostput.godina_nabavke"/>
    </mat-form-field>
</div>

<div>
    <mat-form-field appearance='fill'>
        <mat-label>Sprat</mat-label>
        <input #sprat matInput type="number" [(ngModel)] = "artikalpostput.sprat"/>
    </mat-form-field>
</div>

<div>
    <mat-form-field appearance='fill'>
        <mat-label>Broj Kancelarije</mat-label>
        <input #broj_kancelarije matInput type="number" [(ngModel)] = "artikalpostput.broj_kancelarije"/>
    </mat-form-field>
</div>

<div>
    <mat-form-field appearance='fill'>
        <mat-label>Zadužen/a</mat-label>
        <input #zaduzenje matInput type="text" [(ngModel)] = "artikalpostput.zaduzenje"/>
    </mat-form-field>
</div>

<div>
    <button mat-raised-button (click)="save()">Unesi</button>
</div>