table {
    width: 100%;
}

.kontejner {
    padding-top: 20px;
    padding-bottom: 10px;
}

.kutija {
    padding-bottom: 30px;
    margin:auto;
}

.from-control {
    width: 10%;
    border: 2px solid black;
    border-radius: 8px;
    padding: 7px;
    
}